In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Series

In [3]:
sl1 = pd.Series(np.array([10,20,30,40,50]))
print(sl1)

0    10
1    20
2    30
3    40
4    50
dtype: int32

In [4]:
sl3 =pd.Series( {
    'a': [1,2,3],
    'b': [4,5,6],
})
print(sl3)

a    [1, 2, 3]
b    [4, 5, 6]
dtype: object

In [5]:
# disct as index - item pair

countries = {
    'India': 'Japan',
    'UK' : 'Singapore',
    'USA': 'China',
}

sl4 = pd.Series(countries)

print(sl4)

India        Japan
UK       Singapore
USA          China
dtype: object

In [6]:
print (sl1[2:4])

2    30
3    40
dtype: int32

In [7]:
print(sl4['India'])

Japan

# Dataframe

In [8]:
#empty dataset

edf = pd.DataFrame()
print(edf)

Empty DataFrame
Columns: []
Index: []

In [9]:
#creating Dataframe
caps = {
    'Gujarat' : ['Gandhinagar', 'Vadodara', 'Ahemdabad', 'Valsad'],
    'Maharashtra' : ['Mumbai', 'Nashik', 'Nagar', 'Pune'],
    'Rajasthan': ['Jaipur', 'Kota', 'Jeselmer', 'Udaipur'],
}

sl5 = pd.DataFrame(caps, index = [f'ROW {i}' for i in range(len(caps['Gujarat']))])

print(sl5)

           Gujarat Maharashtra Rajasthan
ROW 0  Gandhinagar      Mumbai    Jaipur
ROW 1     Vadodara      Nashik      Kota
ROW 2    Ahemdabad       Nagar  Jeselmer
ROW 3       Valsad        Pune   Udaipur

In [10]:
marks = [[90,91,97], [92,81,96], [89,91,88], [81,71,67] , [94,95,99]]
df2 = pd.DataFrame(
    marks, 
    columns = ['Maths', 'Science', 'Hindi'], 
    index = ['Arnab', 'Ramit','Samridhi','Riya','Mallika'])
print(df2)

          Maths  Science  Hindi
Arnab        90       91     97
Ramit        92       81     96
Samridhi     89       91     88
Riya         81       71     67
Mallika      94       95     99

In [11]:
# filter a column
print(df2.filter(['Maths', 'Science']))

          Maths  Science
Arnab        90       91
Ramit        92       81
Samridhi     89       91
Riya         81       71
Mallika      94       95

In [12]:
# filter marks : maths > 90
print(df2[ df2['Maths'] > 90])

         Maths  Science  Hindi
Ramit       92       81     96
Mallika     94       95     99

In [13]:
# ascending order
print(df2.sort_values(by = 'Science'))

          Maths  Science  Hindi
Riya         81       71     67
Ramit        92       81     96
Arnab        90       91     97
Samridhi     89       91     88
Mallika      94       95     99

In [14]:
# desceding order
print(df2.sort_values(by = 'Science', ascending = False))

          Maths  Science  Hindi
Mallika      94       95     99
Arnab        90       91     97
Samridhi     89       91     88
Ramit        92       81     96
Riya         81       71     67

In [15]:
# mean of marks subject wise
print(df2.mean())

Maths      89.2
Science    85.8
Hindi      89.4
dtype: float64

In [16]:
# mean of student wise
print(df2.mean(axis = 1))

Arnab       92.666667
Ramit       89.666667
Samridhi    89.333333
Riya        73.000000
Mallika     96.000000
dtype: float64

In [17]:
print(df2.groupby('Maths'))

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x000001EB0AB7FD60>

In [25]:
gg = {
    'A' : pd.Series([10, 5], index=[0,1]),
    'B' : pd.Series([20, 10], index=[0,1]),
    'C' : pd.Series([22.1], index=[1]),
}

df6 = pd.DataFrame(gg)

print(df6)

    A   B     C
0  10  20   NaN
1   5  10  22.1

In [29]:
ipl_ds = pd.read_csv('../datasets/matches.csv')
ipl_ds.shape

(756, 18)

In [30]:
ipl_ds.head()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
0,1,2017,Hyderabad,05-04-2017,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,field,normal,0,Sunrisers Hyderabad,35,0,Yuvraj Singh,"Rajiv Gandhi International Stadium, Uppal",AY Dandekar,NJ Llong,NaN
1,2,2017,Pune,06-04-2017,Mumbai Indians,Rising Pune Supergiant,Rising Pune Supergiant,field,normal,0,Rising Pune Supergiant,0,7,SPD Smith,Maharashtra Cricket Association Stadium,A Nand Kishore,S Ravi,NaN
2,3,2017,Rajkot,07-04-2017,Gujarat Lions,Kolkata Knight Riders,Kolkata Knight Riders,field,normal,0,Kolkata Knight Riders,0,10,CA Lynn,Saurashtra Cricket Association Stadium,Nitin Menon,CK Nandan,NaN
3,4,2017,Indore,08-04-2017,Rising Pune Supergiant,Kings XI Punjab,Kings XI Punjab,field,normal,0,Kings XI Punjab,0,6,GJ Maxwell,Holkar Cricket Stadium,AK Chaudhary,C Shamshuddin,NaN
4,5,2017,Bangalore,08-04-2017,Royal Challengers Bangalore,Delhi Daredevils,Royal Challengers Bangalore,bat,normal,0,Royal Challengers Bangalore,15,0,KM Jadhav,M Chinnaswamy Stadium,NaN,NaN,NaN

In [31]:
ipl_ds.tail()

,id,season,city,date,team1,team2,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2,umpire3
751,11347,2019,Mumbai,05-05-2019,Kolkata Knight Riders,Mumbai Indians,Mumbai Indians,field,normal,0,Mumbai Indians,0,9,HH Pandya,Wankhede Stadium,Nanda Kishore,O Nandan,S Ravi
752,11412,2019,Chennai,07-05-2019,Chennai Super Kings,Mumbai Indians,Chennai Super Kings,bat,normal,0,Mumbai Indians,0,6,AS Yadav,M. A. Chidambaram Stadium,Nigel Llong,Nitin Menon,Ian Gould
753,11413,2019,Visakhapatnam,08-05-2019,Sunrisers Hyderabad,Delhi Capitals,Delhi Capitals,field,normal,0,Delhi Capitals,0,2,RR Pant,ACA-VDCA Stadium,NaN,NaN,NaN
754,11414,2019,Visakhapatnam,10-05-2019,Delhi Capitals,Chennai Super Kings,Chennai Super Kings,field,normal,0,Chennai Super Kings,0,6,F du Plessis,ACA-VDCA Stadium,Sundaram Ravi,Bruce Oxenford,Chettithody Shamshuddin
755,11415,2019,Hyderabad,12-05-2019,Mumbai Indians,Chennai Super Kings,Mumbai Indians,bat,normal,0,Mumbai Indians,1,0,JJ Bumrah,Rajiv Gandhi Intl. Cricket Stadium,Nitin Menon,Ian Gould,Nigel Llong

In [33]:
ipl_ds.size

13608

In [34]:
ipl_ds.ndim

2

In [35]:
ipl_ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 756 entries, 0 to 755
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               756 non-null    int64
 1   season           756 non-null    int64
 2   city             749 non-null    object
 3   date             756 non-null    object
 4   team1            756 non-null    object
 5   team2            756 non-null    object
 6   toss_winner      756 non-null    object
 7   toss_decision    756 non-null    object
 8   result           756 non-null    object
 9   dl_applied       756 non-null    int64
 10  winner           752 non-null    object
 11  win_by_runs      756 non-null    int64
 12  win_by_wickets   756 non-null    int64
 13  player_of_match  752 non-null    object
 14  venue            756 non-null    object
 15  umpire1          754 non-null    object
 16  umpire2          754 non-null    object
 17  umpire3          119 non-null    object
dtypes: int64(5), object(13)
memory usage: 106.4+ KB

In [59]:
ipl_ds.iloc[:3,2:5]

        city        date                team1
0  Hyderabad  05-04-2017  Sunrisers Hyderabad
1       Pune  06-04-2017       Mumbai Indians
2     Rajkot  07-04-2017        Gujarat Lions

In [58]:
ipl_ds.loc[:3,['city', 'date']]

        city        date
0  Hyderabad  05-04-2017
1       Pune  06-04-2017
2     Rajkot  07-04-2017
3     Indore  08-04-2017

In [60]:
ipl_ds["win_by_wickets"].mean()

3.3505291005291005

In [61]:
ipl_ds["win_by_wickets"].min()

0

In [62]:
ipl_ds["win_by_wickets"].max()

10

In [64]:
# standard deviation
ipl_ds["win_by_wickets"].std()

3.3879626784264194

In [66]:
ipl_ds.mean()

C:\Users\hrish\AppData\Local\Temp/ipykernel_19924/781722824.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ipl_ds.mean()

id                1792.178571
season            2013.444444
dl_applied           0.025132
win_by_runs         13.283069
win_by_wickets       3.350529
dtype: float64

In [67]:
ipl_ds.max()

C:\Users\hrish\AppData\Local\Temp/ipykernel_19924/651596764.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ipl_ds.max()

id                              11415
season                           2019
date                       31-05-2008
team1             Sunrisers Hyderabad
team2             Sunrisers Hyderabad
toss_winner       Sunrisers Hyderabad
toss_decision                   field
result                            tie
dl_applied                          1
win_by_runs                       146
win_by_wickets                     10
venue                Wankhede Stadium
dtype: object

In [68]:
ipl_ds.min()

C:\Users\hrish\AppData\Local\Temp/ipykernel_19924/2198355858.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ipl_ds.min()

id                                  1
season                           2008
date                       01-04-2010
team1             Chennai Super Kings
team2             Chennai Super Kings
toss_winner       Chennai Super Kings
toss_decision                     bat
result                      no result
dl_applied                          0
win_by_runs                         0
win_by_wickets                      0
venue                ACA-VDCA Stadium
dtype: object

In [69]:
ipl_ds.std()

C:\Users\hrish\AppData\Local\Temp/ipykernel_19924/2052000119.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  ipl_ds.std()

id                3464.478148
season               3.366895
dl_applied           0.156630
win_by_runs         23.471144
win_by_wickets       3.387963
dtype: float64

In [73]:
ipl_ds.dtypes

id                  int64
season              int64
city               object
date               object
team1              object
team2              object
toss_winner        object
toss_decision      object
result             object
dl_applied          int64
winner             object
win_by_runs         int64
win_by_wickets      int64
player_of_match    object
venue              object
umpire1            object
umpire2            object
umpire3            object
dtype: object

In [74]:
ipl_ds.describe() # all stats

                 id       season  dl_applied  win_by_runs  win_by_wickets
count    756.000000   756.000000  756.000000   756.000000      756.000000
mean    1792.178571  2013.444444    0.025132    13.283069        3.350529
std     3464.478148     3.366895    0.156630    23.471144        3.387963
min        1.000000  2008.000000    0.000000     0.000000        0.000000
25%      189.750000  2011.000000    0.000000     0.000000        0.000000
50%      378.500000  2013.000000    0.000000     0.000000        4.000000
75%      567.250000  2016.000000    0.000000    19.000000        6.000000
max    11415.000000  2019.000000    1.000000   146.000000       10.000000

In [78]:
# sum of missing values group by col wise
ipl_ds.isnull().sum()

id                   0
season               0
city                 7
date                 0
team1                0
team2                0
toss_winner          0
toss_decision        0
result               0
dl_applied           0
winner               4
win_by_runs          0
win_by_wickets       0
player_of_match      4
venue                0
umpire1              2
umpire2              2
umpire3            637
dtype: int64

In [81]:
# this means dataset has atleast one missing value
ipl_ds.isnull().values.any()

True

In [88]:
# put all missing values to mode (city)
mode_city = ipl_ds['city'].mode()[0]
ipl_ds['city'].fillna(mode_city, inplace=True)

In [89]:
ipl_ds['winner'].fillna(99)

0              Sunrisers Hyderabad
1           Rising Pune Supergiant
2            Kolkata Knight Riders
3                  Kings XI Punjab
4      Royal Challengers Bangalore
                  ...
751                 Mumbai Indians
752                 Mumbai Indians
753                 Delhi Capitals
754            Chennai Super Kings
755                 Mumbai Indians
Name: winner, Length: 756, dtype: object

In [93]:
# select categorical cols
categorical_vars = [i for i in ipl_ds.columns if ipl_ds[i].dtype == 'object']
categorical_vars

['city',
 'date',
 'team1',
 'team2',
 'toss_winner',
 'toss_decision',
 'result',
 'winner',
 'player_of_match',
 'venue',
 'umpire1',
 'umpire2',
 'umpire3']